<% if current_user.email == "bestdrive@gmail.com" %>
  <div class="close"><i class="far fa-times-circle"></i></div>
<% elsif current_user.email == "michelin@gmail.com" %>
  <div class="close2"><i class="far fa-times-circle"></i></div>
<% end %>


