
ul,li {
  list-style: none;
}
.accueil{
  margin-top: 15vh;
}
.roue img{
  width: 60%;
  width: 250px;
  margin: 0 auto;
}
.roue img:hover{
  border:1px solid #fbaa06;

}
.roue-details{
height: 250px;
}
#logo{
    bottom: 30px;
    right: 30px;
    height: 40px;
    position: fixed;
}
.roue-liste{
  text-align: center;
}
.titre{
  margin-top: 20px;
  font-size: 30px;
  font-family: 'lato', sans-serif;
  font-weight: bold;
}
